#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    box-sizing: border-box;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLog{
    height: 100px;
    width: 100px;
}

.option > img{
    height: 200px;
    width: 100%;
}

.option{
    background-color: rgb(195, 195, 195);
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.option > button{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    border: none;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
}

.option > button:hover{
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(29, 134, 5);
    color: white;
}

@media screen and (min-width: 500px) {
    #container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;
        padding: 50px;
        box-sizing: border-box;
    }
}