@import url('../geral/geral.css');

.buttonsLine{
    margin: 0 auto;
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 30%;
    height: 80%;
    border: 3px solid black;
    background-color: white;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover, .btn:checked{
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: var(--principalColor);
}
