@import url('../geral/geral.css');

#containerMain{
    margin-top: 150px;
}

main{
    padding: 20px;
    box-sizing: border-box;
}

.buttonsLine{
    margin: 0 auto;
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 30%;
    height: 80%;
    border: 3px solid var(--blackColor);
    background-color: var(--whiteColor);
    transition: all .4s var(--animation);
    cursor: pointer;
}

.btn:hover, .btn:checked{
    transition: all .4s var(--animation);
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: 3px solid var(--whiteColor);
}

.campo{
    display: flex;
    flex-direction: column;
}

.campo > label{
    font-size: 1.3em;
    background-color:var(--principalColor) ;
    color: var(--blackColor);
    margin-top: 5px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
}

.campo > input[type="text"], input[type="email"]{
    padding: 15px;
    box-sizing: border-box;
    border: 3px solid var(--blackColor);
}

input[type="submit"]{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: white;
    background-color: var(--principalColor);
    transition: all .4s var(--animation);
    border: none;
    cursor: pointer;
}


input[type="submit"]:hover{
    background-color: var(--whiteColor);
    color: var(--principalColor);
    transition: all .4s var(--animation);
    cursor: pointer;
}

.changeWay{
    cursor: pointer;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
}

.btnComputer{
    width: auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 0.8em;
    width: 200px;
}


.selectedInput > input{
    font-weight: bold;
    font-size: 1.5em;
    width: 200px;
    text-align: center;
}

.btnComputer{
    display: none;
}

#imgBackground{
    width: 40%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 888;
    height: 100%;
    background: linear-gradient(120deg, rgb(0, 255, 157), rgb(11, 122, 59));
    transform: translateY(90px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 200px;
}

#imgBackground h2{
    font-size: 3em;
    font-weight: bolder;
    color: var(--whiteColor);
}

@media screen and (min-width: 1200px) {
    main{
        margin-top: 90px;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .mobile{
        display: none;
    }

    #containerMain{
        width: 60%;
        min-height: 100vh;
        background-color: #D9D9D9;
        padding: 15px;
        box-sizing: border-box;
        padding-bottom: none;
        display: block;
        margin-top: 90px;
    }

    .buttonsLine{
        width: 100%;
        display: flex;
        align-items: end;
        align-items: center;
        justify-content: flex-start;
        margin: 40px 0px;
    }

    .SquareEffect{
        background-color: white;
        border: 3px solid black;
        position: relative;
        height: 100%;
        width: 100%;
        margin-right: 150px;
    }

    .btnComputer{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -20px;
        left: 20px;
        height: 100%;
    }

    #imgBackground{
        display: none;
    }
    
}