@import url('../geral/geral.css');

.buttonsLine{
    margin: 0 auto;
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 30%;
    height: 80%;
    border: 3px solid var(--blackColor);
    background-color: var(--whiteColor);
    transition: all .4s var(--animation);
}

.btn:hover, .btn:checked{
    transition: all .4s var(--animation);
    background-color: var(--principalColor);
}

.campo{
    display: flex;
    flex-direction: column;
}

.campo > label{
    font-size: 1.3em;
    background-color: var(--blackColor);
    color: var(--principalColor);
    margin-top: 5px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    box-sizing: border-box;
}

.campo > input[type="text"], input[type="email"]{
    padding: 15px;
    box-sizing: border-box;
    border: 3px solid var(--blackColor);
}
/*Empresa*/
#squareMaterial {
    height: 300px;
    max-width: 500px;
    border: 3px solid var(--blackColor);
    overflow-y: scroll;
}

.materialContainer{
    background-color: var(--principalColor);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);

    margin: 5px 5px 20px 5px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.componentMaterial{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.componentMaterial > input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

.componentMaterial input[type="number"]{
    border: 3px solid var(--blackColor);
}

input[type="submit"]{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: white;
    background-color: var(--principalColor);
    border: none;
}


input[type="submit"]:hover{
    background-color: var(--whiteColor);
    color: var(--principalColor);
    transition: all .4s var(--animation);
    border: 3px solid var(--principalColor);
}