@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family:Lato;
    margin: 0px;
    padding: 0px;
}

:root{
    --blackColor: black;
    --whiteColor: white;
    --principalColor: #119396;
    --greyColor: #737373;
    --animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button, div, input[type="submit"] {
    border-radius: 10px;
}

#closeMenu {
    margin: 5px 0px;
    margin-left: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
}

.desktop{
    display: none;
}

header{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.head{
    background-color: var(--blackColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 0px;
}

h1{
    color: white;
    font-weight: bold;
    padding: 15px 0px;
}

.containerMenu{
    background-color: var(--principalColor);
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
    height: 50px;
}

.btnMenu{
    color: var(--blackColor);
    font-size: 4em;
    padding: 15px;
    border: none;
    box-sizing: border-box;
    border-radius: 0px;
}

.textBasic{
    color: var(--greyColor);
    font-size: 1.3em;
}

nav{
    background: linear-gradient(to bottom, black  , transparent 30%);
    color: var(--blackColor);
    font-weight: normal;
    box-sizing: border-box;
    display: none;
    position: fixed;
    width: 80%;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    z-index: 999;
}

nav > ul{
    width: 90%;
    margin-top: 40px;
}

nav> ul > li {
    list-style: none;
    background-color: var(--principalColor);
    margin: 15px 5px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.5em;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    transition: all .4s var(--animation);
    cursor: pointer;
}

nav> ul > li:hover{
    transform: translateY(-10px);
    transition: all .4s var(--animation);
}

nav> ul > li > a{
    color: var(--blackColor);
}

.destaque{
    color: var(--principalColor);
    font-weight: bold;
}

#menuBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
}



@media screen and (min-width: 1000px) {

    nav{
        width: 30%;
    }
    
    #menuBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;

    }

    .desktop{
        display: block;
    }

    main{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }

    .textGrey{
        color: var(--cinza);
        font-style: italic;
        font-size: small;
        font-weight: bold;
        font-size: 1.5em;
    }

    .optionBtnPeople{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        box-sizing: border-box;
        margin-bottom: 80px

    }

    .optionBtnPeople > .designBtn{
        width: 150px;
        height: 70%;
        margin: 10px;
        background-color: white;
        border: 5px solid black;
        position: relative;
    }

    .designBtn > button{
        position: absolute;
        left: 50%;
        bottom: 30%;
        width: 100%;
        height: 100%;
        transform: translate(-30%, 60%);
        border-radius: none;
        background-color: white;
        border: 5px solid black;
        font-weight: bold;
        box-sizing: border-box;
        cursor: pointer;

    }
}