@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family:Lato;
    margin: 0px;
    padding: 0px;
}

:root{
    --blackColor: black;
    --whiteColor: white;
    --principalColor: #2AB64D;
    --greyColor: #737373;
    --animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#squareBonecos{
    display: none;
}

.desktop{
    display: none;
}

header{
    background-color: var(--blackColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

h1{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
}

.containerMenu{
    background-color: var(--principalColor);
    text-align: center;
    cursor: pointer;
}

.btnMenu{
    color: var(--blackColor);
    font-size: 4em;
    padding: 15px;
}

.textBasic{
    color: var(--greyColor);
    font-size: 1.3em;
}

nav{
    background-color: var(--blackColor);
    color: var(--principalColor);
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
    display: none;
}
nav> ul > li:nth-child(1){
    border-top: 3px solid var(--greyColor);
}

nav> ul > li {
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 3px solid var(--greyColor);
    cursor: pointer;
}

nav> ul > li:hover{
    background-color: var(--principalColor);
    color: var(--blackColor);
    transition: all .4s var(--animation);
}

.destaque{
    color: var(--principalColor);
    font-weight: bold;
}

@media screen and (min-width: 500px) {

    header{
        height: 90px;
    }
    
    #menuBtn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header{
        display: flex;
        flex-direction: row;
        padding: 10px;
        box-sizing: border-box;
    }

    nav{
        position: fixed;
        height: 100%;
        width: 30vw;
        right: 0px;
        top: 0px;
    }
    
    
    .desktop{
        display: block;
    }
}